@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Yellow Team<br />
    Lexicon<br />
    Västra Svedengatan 10<br />
    582 73 Linköping<br />
    <abbr title="Phone">P:</abbr>
    013-21 01 90
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yellow@lexicon.com">yellow@lexicon.com</a><br />

</address>